<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SAPP/SAPPath" value="C:\_data\SAPP\SAP\StealthAudioPlayer.exe" />
    <add key="SAPP/SOXPath" value="C:\_data\SAPP\SAP\Codecs\sox\sox.exe" />
    <add key="SAPP/WAVCachePath" value="c:\_data\Hifi\WAVs" />
    <add key="SAPP/TargetBitRate" value="24" />
    <add key="SAPP/TargetSamplingRate" value="96000" />
    <add key="SAPP/FLACRootPath" value="c:\_data\Hifi\FLACs" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>